#medal-picture {
    width: 30px;
    display: none;
}

#game-over-container {
    display: none;
}

#game-container {
    display: none;
}

#player-new-username-container{
    display: none;
}

#level {
    display: none;
}