.player-name-input-container {
    display: flex;
}

#image {
    width: 40%;
    height: auto;
}

.powerup-icon {
    width: 30px;
}

#medal-picture {
    width: 30px;
    display: none;
}

#game-over-container {
    display: none;
}

#game-container {
    display: none;
}

#shop-screen {
    display: none;
}

#player-stickers-screen {
    display: none;
}

#player-success-screen {
    display: none;
}

#player-new-username-container{
    display: none;
}

#level {
    display: none;
}

#animation-loader {
    display: none;
}

#time-stop-power-button {
    background: linear-gradient(
    to top, 
    #8ED6FA 0%, 
    #8ED6FA 0%, 
    #a6a6a6 0%, 
    #a6a6a6 100%
    );
}



