#image {
    width: 40%;
    height: auto;
}

.powerup-icon {
    width: 30px;
}

#medal-picture {
    width: 30px;
    display: none;
}

#game-over-container {
    display: none;
}

#game-container {
    display: none;
}

#player-new-username-container{
    display: none;
}

#level {
    display: none;
}

#animation-loader {
    display: none;
}

#time-stop-power-button {
    background: linear-gradient(180deg, #FFC0CB 0%, #00FFFF 50%);
}



